.employee__cards-wrapper {
  display: flex;
  max-width: 95%;
  flex-wrap: wrap;
  margin-top: .5rem;
  gap: 1rem;
}

.employee__wrapper {
  aspect-ratio: 2.5/1;
  width: 20rem;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color: var(--rp-dark-brown);
  border: .15rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  padding: .5rem;
  box-shadow: .5rem .5rem .2rem black;
  margin-bottom: .5rem;
}

.employee__info {
  all: unset;
  list-style: none;
}

.employee__info > li {
  margin-bottom: .2em;
}

.employee__wrapper > h2 {
  margin: 0;
}

.employee__info-key{
  color: var(--remazon-prime);
  display: inline;
  margin-right: .2em;
}

.employee__rank {
  display: block;
  margin: .05rem -.5rem .3rem;
  text-align: center;
  padding: .1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.2rem;
}

.employee__edit-button_wrapper {
  position: absolute;
  right: .5em;
  bottom: .5em;
}

.employee__edit-form > label {
  display: block;
  margin-bottom: .5rem;
}

.employee__edit-form > label > input, textarea, select {
  box-sizing: border-box;
  width: 100%;
  margin-top: .1rem;
}


button.employee__edit-control {
  display: inline;
  margin-top: .5em;
  margin-right: .5em;
}

@media (min-width: 375px){
}