.header__title {
  color: var(--remazon-prime);
  text-transform: uppercase;
  margin: 0;
  line-height: .8;
  margin-top: .5rem;
  font-size: 4rem;
  font-family: "coolvetica";
  letter-spacing: .3rem;
}

.header__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: end;
}

.header__items {
  display: flex;
  align-items: end;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .header__wrapper {
    flex-direction: column;
    align-items: start;
  }

  .header__title {
    margin-top: 1rem;
  }

  .header__items {
    align-self: end;
  }
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .header__wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}