.header__wrapper {
  box-sizing: border-box;
  background-color: var(--font-white);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: start;
  padding-top: 2.5rem;
}

.header__title {
  font-family: "coolvetica";
  font-size: 4rem;
  color: var(--remazon-prime);
  text-transform: uppercase;
  line-height: .8;
  letter-spacing: .3rem;
  margin: 0;
  margin-top: .5rem;
  padding: 0 0 .5rem .5rem;
}
.header__title > .remazon {
  display: block;
}
.header__title > .prime {
  font-family: 'gvd-italic';
  font-size: 2.5rem;
  margin-top: .2rem;
}

.header__items {
  display: flex;
  align-items: end;
  align-self: end;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .header__title {
    margin-top: .3rem;
  }
  .header__title > .remazon {
    display: inline;
  }
  .header__title > .prime {
    font-family: 'gvd-italic';
    font-size: 2.5rem;
    display: inline;
    margin-top: auto;
  }
  .header__wrapper {
    flex-direction: row;
    border-bottom: .3rem solid var(--remazon-prime);
    padding: 0 .4rem;
    padding-bottom: .3rem;
    align-items: start;
    padding-top: auto;
  }
  
  
  .header__items {
    margin: auto 0;
    align-self: auto;
  }
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .header__title {
    padding: 0;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}