.header__title {
  color: var(--remazon-prime);
  text-transform: uppercase;
  margin: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__items {
  display: flex;
  align-items: end;
}