.error {
  background-color: #b80000;
  border-radius: var(--border-radius);
  text-align: center;
  width: 99%;
  margin: auto;
  margin-top: .3rem;
  margin-bottom: .2rem;
  padding: .1rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--font-white);
  font-size: .8rem;
  color: black;
  line-height: 0%;
  width: 1.1rem;
  margin-left: 1rem;
  cursor: pointer;
  transform: translate(0, -0.1rem);
}
.close-button:hover {
  border-color: var(--remazon-prime)
}

.button-text {
  position: absolute;
  transform: translate(-.5px, 1px);
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}