.cupcake__listing {
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  margin-top: .6rem;
  padding: .5rem;
}

.cupcake__name {
  text-transform: capitalize;
}

.cupcake__employee-button {
  
}