.signup > label {
  display: block;
}

.signup > label > input, textarea, select {
  box-sizing: border-box;
  width: 100%;
  margin-top: .1rem;
}

.authentication__wrapper {
  box-sizing: border-box;
  display: flex;
  margin-top: .5rem;
}

.logged-in-wrapper {
  display: flex;
  font-size: 1.3rem;
  margin-right: .5rem;
}

.login-form {
  display: flex;
  margin-right: 1rem;
}

.login-form > label {
  margin-right: .5rem;
}

.login-button { 
  display: inline;
  margin-right: .5rem;
}

.authentication__employee-name {
  display: inline;
  margin-left: .3em;
  margin-right: .5em;
  text-transform: capitalize;
}

.signout-button {
  margin-left: .4em;
}

.signup-control {
  display: inline;
  margin-top: .5em;
  margin-right: .5em;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .authentication__wrapper {
    position: static;
  }

  .logged-in-wrapper {
    display: flex;
    font-size: 1.5rem;
    margin-right: .5rem;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}