.motd__display-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.motd__message-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.motd__message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.motd__message-from-the-boss {
  position: relative;
  font-size: 1.8rem;
  color: var(--remazon-prime);
  margin: 0;
  font-weight: normal;
}

.motd {
  position: relative;
  font-size: 2rem;
  font-family: 'gvd-italic';
  margin: 0;
  margin-top: .5rem;
  font-weight: normal;
  text-align: center;
}

.rembo {
  position: relative;
  font-family: 'gvd';
  font-size: 1.5em;
  margin: 0;
  font-weight: normal;
  right: -5rem;
}

.motd__banner-wrapper {
  aspect-ratio: 2.10/1;
  box-sizing: border-box;
  display: none;
  position: relative;
  overflow: hidden;
  width: 85rem;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .motd__message-container {
    padding: 0;
  }
  .motd__message-from-the-boss {
    font-size: 2.5rem;
    right: 10rem;
    top: -1rem;
  }
  .motd {
    font-size: 3.5rem;
  }
  .rembo {
    font-size: 2.2em;
    right: -15rem;
  }
  .motd__banner-wrapper {
    display: flex;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}