.motd__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--off-black);
}

.motd__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  /* padding: .5rem .2rem; */
}

.motd__a-message {
  position: absolute;
  font-size: 2rem;
  color: var(--remazon-prime);
  top: 3rem;
  left: 6rem;
}

.motd {
  position: absolute;
  font-size: 1.5rem;
  font-family: 'gvd-italic';
  margin-top: .5rem;
  top: 6rem;
  right: 10rem;
}

.rembo {
  position: absolute;
  text-align: end;
  right: -2rem;
  font-family: 'gvd';
  font-size: .8em;
}

.placeholder {
  height: 200px;
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, var(--font-white) 14%);
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}