.rank {
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 1rem;
  padding: .5rem;
}
.rank.edit {
  display: block;
}

.ranks-list {
  width: 97%;
  margin: 0 auto;
}

.rank__buttons-wrapper {
  display: flex;
  gap: .5rem;
}

.rank__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rank__edit-form--input-section > label {
  font-family: 'gvd-bold';
  color: var(--remazon-prime);
}
.rank__edit-form--input-section > input {
  margin-right: 1rem;
}
.rank__edit-form--input-section > label,
.rank__edit-form--input-section > input {
  display: inline-block;
}

.rank__title {
  margin: 0;
  font-family: 'gvd-italic';
  font-size: 1.1rem !important;
  transform: translate(0, 15%)
}

.rank__submit {
  aspect-ratio: 1/1;
  width: fit-content;
  height: fit-content;
}

.rank__edit-form--color-selector {
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 1.5rem;
}

.rank__edit-form--input {
  width: 10rem;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}