.admin-widgets__container {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.admin-widgets__center {
  width: 95rem;
  margin: 0 auto;
}

.admin-widget {
  float: right;
  box-sizing: border-box;
  background-color: var(--charcoal);
  box-shadow: .5rem .5rem .2rem black;
  padding: .8rem;
  border-radius: var(--border-radius);
  min-width: 30rem;
  margin: .5rem;
}

.admin-widget__title {
  color: var(--remazon-prime);
  text-transform: capitalize;
  margin: 0;
  background-color: var(--off-black);
  box-shadow: .3rem .3rem .2rem #272727;
  border-radius: var(--border-radius);
  padding: .4rem;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}