.rank {
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 1rem 0;
  padding: .5rem;
}
.rank.edit {
  display: block;
}

.ranks-wrapper {
  margin: 0;
}

.rank__buttons-wrapper {
  display: flex;
  gap: .5rem;
}

.rank__form {
  display: flex;
  justify-content: space-between;
}

.rank__title {
  margin: 0;
  font-size: 1.1rem !important;
  transform: translate(0, 15%)
}

.rank__submit {
  aspect-ratio: 1/1;
  width: fit-content;
  height: fit-content;
}

.rank-color-selector {
  background-color: transparent;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .rank__title {
    font-family: 'gvd-italic';
    font-size: 1.2rem;
  }

  .ranks-wrapper {
    margin: auto;
    margin-top: 2rem;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}