.most-recent__wrapper {
  box-sizing: border-box;
  background-color: var(--charcoal);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.most-recent__cel {
  display: flex;
  flex-direction: column;
}

.most-recent__cel-title {
  font-family: 'gvd-italic';
  font-size: 1.1rem;
  margin-bottom: .2rem;
}

.most-recent__content-wrapper {
  box-sizing: border-box;
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 1rem;
  cursor: pointer;
  border: .1rem solid var(--off-black);
  scale: 1;
  transition: scale 100ms ease-in-out;
}
.most-recent__content-wrapper:hover {
  scale: 1.03;
  transition: scale 100ms ease-in-out;
}
.most-recent__content-wrapper.award.gold { 
  background: linear-gradient(115deg, rgba(90,44,5,1) 0%, rgba(218,150,25,1) 35%, rgba(49,21,8,1) 100%);
  border-color: var(--remazon-prime);
}
.most-recent__content-wrapper.award.silver { 
  background: linear-gradient(115deg, rgb(83, 83, 83) 0%, rgb(219, 219, 219) 35%, rgb(43, 43, 43) 100%);
  border-color: #777777;
}

.most-recent__content-wrapper.award.bronze { 
  background: linear-gradient(115deg, rgba(90,44,5,1) 0%, rgb(156, 92, 31) 35%, rgba(49,21,8,1) 100%);
  border-color: #5f3b23;
}

.most-recent__item-title {
  all: unset;
  color: var(--remazon-prime);
  font-size: 1.4rem;
  text-transform: capitalize;
}
.most-recent__item-title.award {
  color: white;
}

.most-recent__info-list {
  all: unset;
  list-style: none;
}
.most-recent__info-list.award {
  font-family: 'gvd-bold';
}
.most-recent__info-list.award.gold {
  color: #462304;
}
.most-recent__info-list.award.silver {
  color: #4b4b4b;
}
.most-recent__info-list.award.bronze {
  color: #3d220a;
}
.most-recent__info-list > li {
  margin: .2em 0;
}

.most-recent__info-value {
  display: inline;
}
.most-recent__info-value.award {
  color: white;
  font-family: 'gvd';
  text-transform: capitalize;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
  .most-recent__wrapper {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 1rem 5rem;
  }
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}