.notifications-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.notification__list {
  position: relative;
  background-color: var(--charcoal);
  border-radius: var(--border-radius);
  min-height: 15rem;
  padding: .6rem;
  height: 100%;
}

.notification__list-item {
  background-color: var(--off-black);
  box-shadow: .3rem .3rem .2rem #272727;
  border: .15rem solid transparent;
  border-radius: var(--border-radius);
  padding: .5em;
  margin: .7rem 0;
  cursor: pointer;
}
.notification__list-item.active {
  border: .15rem solid var(--remazon-prime);
}
.notification__list-item.rembo-notification {
  background-color: rgb(148, 160, 165);
  box-shadow: .3rem .3rem .2rem #353535;
}
.notification__list-item.rembo-notification.active {
  border: .15rem solid white;
}

.notification__wrapper {
  background-color: var(--charcoal);
  border-radius: var(--border-radius);
  padding: .7rem;
}

.notification__title {
  background-color: var(--off-black);
  box-shadow: .3rem .3rem .2rem rgb(39, 39, 39);
  border-radius: var(--border-radius);
  margin-bottom: .7rem;
  padding: .2em;
}

.notification__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-top: .7rem;
  box-shadow: .3rem .3rem .2rem #272727;
}
.notification__info-key {
  display: inline-block;
  color: var(--remazon-prime);
  margin-bottom: .5rem;
}
.notification__info-value {
  display: inline;
  text-transform: capitalize;
  font-family: 'gvd-italic';
}
.notification__info-wrapper > p {
  margin: 0;
}

.notification__buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: .7rem;
}

.notification__button {
  background-color: var(--off-black);
  border: .15rem solid transparent;
  border-radius: var(--border-radius);
  box-shadow: .3rem .3rem .2rem #272727;
  font-size: 1rem;
  color: var(--font-wite);
  padding: .4rem 2rem;
  cursor: pointer;
}
.notification__button.delete:hover {
  background-color: rgb(209, 0, 0);
  border-color: var(--off-black);
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}