.notifications-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  gap: 2rem;
  margin: auto;
  margin-top: 2rem;
}

.notification__list {
  background-color: var(--charcoal);
  border-radius: var(--border-radius);
  padding: .6rem;
  min-height: 10rem;
}

.notification__list-item {
  border: .15rem solid transparent;
  cursor: pointer;
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  padding: .5em;
  margin: .7rem 0;
  box-shadow: .3rem .3rem .2rem rgb(39, 39, 39);
}
.notification__list-item.active {
  border: .15rem solid var(--remazon-prime);
}

.notification__wrapper {
  background-color: var(--charcoal);
  padding: .7rem;
  border-radius: var(--border-radius);
}

.notification__title {
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  padding: .2em;
  margin-bottom: .7rem;
  box-shadow: .3rem .3rem .2rem rgb(39, 39, 39);
}

.notification__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: .5em;
}
.notification__info-key {
  display: inline-block;
  margin-bottom: .5rem;
  color: var(--remazon-prime)
}
.notification__info-value {
  display: inline;
  text-transform: capitalize;
  font-family: 'gvd-italic';
}
.notification__info-wrapper > p {
  margin: 0;
}

.notification__buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.notification__button {
  background-color: var(--off-black);
  border: .15rem solid transparent;
  color: var(--font-wite);
  padding: .4rem 2rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: .3rem .3rem .2rem rgb(39, 39, 39);
}
.notification__button.delete:hover {
  background-color: rgb(209, 0, 0);
  /* color: var(--off-black); */
  border-color: var(--off-black);
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}