.navbar__wrapper {
  box-sizing: border-box;
  background-color: var(--charcoal);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  transition: width 70ms ease-in-out;
  z-index: 9;
}
.navbar__wrapper.active {
  left: 0;
}

.navbar__link-buttons-wrapper {
  box-sizing: border-box;
  display: relative;
  height: 100%;
  margin-top: 3rem;
}

.link-button {
  display: block;
  background-color: var(--off-black);
  border: .1rem solid transparent;
  border-right: 0;
  border-left: .5rem solid transparent;
  width: 100%;
  font-size: 1.2rem;
  color: var(--remazon-prime);
  text-transform: uppercase;
  text-align: start;
  text-wrap: nowrap;
  line-height: 1.2;
  padding: .25em .2em;
  padding-left: .5rem;
  margin-bottom: .65rem;
  cursor: pointer;
}
.link-button:hover {
  border-color: var(--remazon-prime);
  color: var(--font-white);
}

.button__text {
  display: inline;
}
.button__text.hovering {
  color: var(--remazon-white);
}

.authentication-button {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .navbar__wrapper {
    border-right: .2rem solid var(--remazon-prime);
    left: 0;
    width: 3rem;
  }
  .navbar__wrapper.active {
    width: 11rem;
  }
  .navbar__link-buttons-wrapper {
    margin-top: auto;
  }
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}