.admin__send-to-grid {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  border-radius: var(--border-radius);
}

.admin__send-to__list {
  background-color: var(--off-black);
  border-radius: var(--border-radius);
  box-shadow: .3rem .3rem .2rem #272727;
  list-style: none;
  min-height: 10rem;
  margin: 0;
  padding: .3rem .8rem;
}

.admin__send-to__listing {
  border: .15rem solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin: .5rem 0;
  padding: .5rem 1rem;
}
.admin__send-to__listing.selected {
  border: .15rem solid var(--remazon-prime);
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}