.most-recent-container {
  width: 100%;
  margin-top: 2rem;
}

.most-recent-wrapper {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, fit-content(.1rem));
  margin: auto;
  gap: 0 1rem;
}

.most-recent-cel-title {
  font-family: "coolvetica-straight";
  color: var(--remazon-prime);
  text-align: center;
  font-size: 1.5rem;
  margin: .5rem 0;
  letter-spacing: .5px;
}

.most-recent-divider {
  display: flex;
  align-items: center;
  height: 100%;
}