.most-recent-container {
  width: 100%;
  margin-top: 2rem;
}

.most-recent-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 0 1rem;
}

.most-recent-cel-title {
  font-family: "gvd-bold";
  color: var(--remazon-prime);
  text-align: center;
  font-size: 1.5rem;
  margin: .5rem 0;
  letter-spacing: .5px;
}

.most-recent-divider {
  display: none;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .most-recent-wrapper {
    display: grid;
    grid-template-columns: repeat(3, fit-content(.1rem));
  }

  .most-recent-divider {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}