.user-display__wrapper {
  box-sizing: border-box;
  display: flex;
  margin-top: .5rem;
}

.user-display__user-wrapper {
  display: flex;
  font-size: 1.3rem;
}

.user-display__employee-name {
  display: inline;
  margin-left: .3em;
  margin-right: .3em;
  text-transform: capitalize;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .user-display__wrapper {
    position: static;
  }

  .user-display__user-wrapper {
    display: flex;
    font-size: 1.5rem;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}