.leaderboard__wrapper {
  width: 100%;
  margin-top: 3.5rem;
}

.leaderboard__container {
  box-sizing: border-box;
  background-color: #1aaec2;
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
  border-radius: var(--border-radius);
}

.leaderboard__widget-container {
  box-sizing: border-box;
  background-color: #1aaec2;
  margin: 1rem 0 3rem;
  padding: 1rem;
  width: 100%;
}

.leaderboard-cupcake {
  aspect-ratio: 1/1;
  width: 8rem;
}
.leaderboard-cupcake.widget {
  width: 3.5rem;
}

.leaderboard__header {
  font-size: 1.6rem;
  color: white;
  text-shadow: 3px 3px 1px #fd6efd;
  margin: 0 auto;
  width: fit-content;
}

.leaderboard__header-text {
  letter-spacing: .05em;
  font-family: 'ginger';
  display: inline-block;
  text-align: center;
  line-height: 1.3em;
  margin: 0 .3em;
  margin-top: .5rem;
  font-size: 3rem;
}
.leaderboard__header-text.widget {
  font-size: 1.5rem;
}
.leaderboard__header-text > h3 {
  all: unset;
  display: block;
}

.leaderboard__entry {
  font-family: 'gvd-italic';
  font-size: 2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #7fffff;
  color: #ff88ff;
  padding: .45rem;
  text-shadow: 1px 1px 1px #276b6b;
}
.leaderboard__entry.widget {
  font-size: 1.2em;
}
.leaderboard__entry:first-child {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  margin-top: 1rem;
}
.leaderboard__entry:nth-child(even){
  color: white;
  background-color: #ff88ff;
  text-shadow: 1px 1px 1px #662166;
}
.leaderboard__entry:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.leaderboard__entry-name {
  text-transform: capitalize;
}
.leaderboard__entry-cupcakes {
  font-family: 'gvd';
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .leaderboard__widget-container {
    aspect-ratio: 1/.8;
    border-radius: var(--border-radius);
    margin: 1rem;
    width: 20rem;
  }
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}