.projects-display__wrapper {
  border-radius: var(--border-radius);
}

.project__wrapper {
  display: inline-block;
  border: .15rem solid var(--remazon-prime);
  margin-right: .5rem;
  padding: .3rem;
  border-radius: var(--border-radius);
  min-width: 20rem;
  position: relative;
}

li > article {
  margin: 0 .5em;
}

.project__wrapper > h2 {
  margin: 0;
}
.project__info {
  all: unset;
  list-style: none;
}