.projects__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 95%;
  margin-top: .5rem;
  padding: .8rem 2rem;
}

.project__wrapper {
  box-sizing: border-box;
  background-color: var(--dark-brown);
  border: .15rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  box-shadow: .5rem .5rem .2rem black;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 20rem;
  margin-bottom: .5rem;
  padding: .3rem;
}
.project__wrapper.deactivated {
  background-color: black;
  border-color: #404040;
}
.project__wrapper > h2 {
  margin: 0;
}

.project-title {
  background-color: var(--vanta-black);
  border-bottom: .1rem solid var(--remazon-prime);
  font-family: 'gvd-bold';
  font-size: 2rem !important;
  text-transform: uppercase;
  text-align: center;
  margin: -.4rem !important;
  margin-bottom: 0 !important;
}
.project-title.deactivated {
  border-color: #404040;
}

.project__info-wrapper{
  position: relative;
  margin: .2rem;
}
.project__info {
  all: unset;
  list-style: none;
}

li > article {
  display: inline;
  margin: 0 .3em;
}

.project__buttons_wrapper {
  position: absolute;
  display: flex;
  gap: .4em;
  right: 0em;
  top: .4em;
}

button.project__edit-control {
  display: inline;
  margin-top: .5em;
  margin-right: .5em;
}

.project__edit-form > label {
  box-sizing: border-box;
  display: block;
  margin-top: .5rem;
}

.project__edit-form > input, textarea, select {
  box-sizing: border-box;
  width: 100%;
  margin-top: .1rem;
}

.project-data__key, .project-data__value {
  display: inline;
}

.project-data__key {
  color: var(--remazon-prime);
  font-size: 1.1em;
}

.project-data__value {
  text-transform: capitalize;
  margin-left: .3em;
}
.project-data__value.deactivated {
  color: red;
}

.parameter-text {
  width: 100%;
  color: red;
  font-size: .8em;
  text-align: end;
  margin-top: .3rem;
}

.projects__sort {
  width: fit-content;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}