.cal_container {
  display:flex;
}

.cal_left {
  width: 55%;
  padding: 1.5rem;
}

.cal_right {
  width: 100%;
  padding: 1.5rem;
}

/* .cal_calendar {
} */

.month {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--charcoal);
  width: 100%;
  margin: 0 auto;
  border-radius: .5rem;
}
.month-shift-button {
  font-weight: bolder;
  cursor: pointer;
  margin: 0 1rem;
}

.weekdays {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
}
.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.days {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
}

.day {
  box-sizing: border-box;
  aspect-ratio: .9/1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: .1rem solid #000000;
  border-radius: .5rem;
  position: relative;
  background-color: var(--charcoal);
}
.day:not(.prev-date, .next-date):hover {
  background-color: #6e6e6e;
  cursor: pointer;
}
.day.prev-date,
.day.next-date {
  background-color: #1a1a1a;
  color: #424242;
}
.day.today {
  color: var(--remazon-prime);
}
.day.selected {
  background-color: var(--remazon-prime);
  color: black;
  font-weight: bolder;
  border-color: var(--off-white);
}
.day.selected:hover {
  background-color: white;
  color: black;
}
.day.selected.event::after {
  background-color: black;
}

.event::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--remazon-prime);
}