.collapse-button__wrapper {
  width: 100%;
  text-align: end;
  margin: .5rem 0;
}

.collapse-button {
  position: fixed;
  top: .5rem;
  left: .5rem;
  background-color: var(--off-black);
  border: .1rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  margin-right: 0;
  padding: .1rem .5rem;
  font-size: 1.4rem;
  color: var(--remazon-prime);
  cursor: pointer;
  z-index: 10;
}
.collapse-button:hover {
  color: var(--font-white);
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .collapse-button__wrapper {
    width: 100%;
    text-align: end;
    margin: .5rem 0;
  }
  
  .collapse-button {
    position: relative;
    margin-right: .2rem;
    top: auto;
    left: auto;
  }
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}