.collapse-button__wrapper {
  width: 100%;
  text-align: end;
  margin: .5rem 0;
}

.collapse-button {
  position: fixed;
  top: .5rem;
  left: .5rem;
  background-color: var(--background-color);
  border: .1rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  margin-right: 0;
  padding: .1rem .5rem;
  font-size: 1.4rem;
  color: var(--remazon-prime);
  cursor: pointer;
  z-index: 10;
}
.collapse-button:hover {
  color: #ffffff;
}

@media (min-width: 375px){
  .collapse-button__wrapper {
    width: 100%;
    text-align: end;
    margin: .5rem 0;
  }
  
  .collapse-button {
    position: relative;
    margin-right: .2rem;
    top: auto;
    left: auto;
  }
}