.award__cards-wrapper {
  display: flex;
  max-width: 95%;
  flex-wrap: wrap;
  margin-top: .5rem;
  gap: 1rem;
}

.award__wrapper {
  aspect-ratio: 2.5/1;
  width: 20rem;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color: var(--rp-dark-brown);
  border: .15rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  padding: .5rem;
  box-shadow: .5rem .5rem .2rem black;
  margin-bottom: .5rem;
}

.award__info {
  all: unset;
  list-style: none;
}
.award__info-key {
  color: var(--remazon-prime);
  display: inline;
  margin-right: .2em;
}


@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}