.award__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 95%;
  margin-top: 1rem;
  padding: .8rem 2rem;
}

.award__wrapper {
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(115deg, rgba(90,44,5,1) 0%, rgba(218,150,25,1) 35%, rgba(49,21,8,1) 100%);
  border: .2rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  box-shadow: .5rem .5rem .2rem black;
  min-width: 13rem;
  max-width: 20rem;
  scale: 1;
  transition: scale 100ms ease-in-out;
}
.award__wrapper:hover {
  scale: 1.03;
  transition: scale 100ms ease-in-out;
}

.award__plate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 6rem;
  transform: translate(0, -1rem);
}

.belt__title {
  font-family: 'gvd-bold';
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 1rem;
  white-space: nowrap;
  margin: 0 .5rem;
  z-index: 13;
  transform: translateY(.1em);
}
.belt__buckle {
  aspect-ratio: 1/1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: linear-gradient(115deg, rgba(160,111,32,1) 0%, rgba(243,219,126,1) 35%, rgba(142,79,7,1) 100%);
  border-radius: 50%;
  width: 6rem;
  z-index: 11;
}
.belt__top-plate {
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: absolute;
  border: .15rem solid #311508;
  border-radius: 50%;
  width: 5.6rem;
  z-index: 11;
}
.belt__strap {
  position: absolute;
  background-color: #412604;
  border-top: .15rem solid white;
  border-bottom: .15rem solid white;
  width: 100%;
  height: 1.5rem;
  z-index: 12;
  opacity: .7;
}

.trophy__plate {
  aspect-ratio: 2/1.1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: linear-gradient(115deg, rgba(160,111,32,1) 0%, rgba(243,219,126,1) 35%, rgba(142,79,7,1) 100%);
  border-radius: 5%;
  width: 10rem;
  z-index: 11;
}
.trophy__top-plate {
  aspect-ratio: 2/1.05;
  box-sizing: border-box;
  position: absolute;
  border: .15rem solid #311508;
  border-radius: 5%;
  width: 9.5rem;
  z-index: 11;
}

.award__info-wrapper {
  margin: .5rem .8rem;
}
.award__info-list {
  all: unset;
  list-style: none;
}
.award__info-list li {
  font-size: 1.1em;
  margin-bottom: .5em;
}
.award__info-key {
  display: inline;
  color: #5A2C05;
  font-family: 'gvd-bold';
}
.award__info-value {
  display: inline;
  margin-left: .4em;
  text-transform: capitalize;
  color: white;
}

.award__edit-button {
  aspect-ratio: 1/1;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  border: 0;
  border-radius: var(--border-radius);
  background: linear-gradient(115deg, rgba(160,111,32,1) 0%, rgba(243,219,126,1) 35%, rgba(142,79,7,1) 100%);
  font-size: 1rem;
  cursor: pointer;
}
.award__edit-button:hover {
  color: white;
}

.award__info-key.awarded-for {
  display: block;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}