.award__cards-wrapper {
  display: flex;
  max-width: 95%;
  flex-wrap: wrap;
  margin-top: .5rem;
  gap: 1rem;
}

.award__wrapper {
  aspect-ratio: 1/1.5;
  box-sizing: border-box;
  width: 13rem;
  background-color: var(--rp-dark-brown);
  border: .15rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  box-shadow: .5rem .5rem .2rem black;
}

.award__plate {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}

.belt__title {
  z-index: 12;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.1rem;
}
.belt__buckle {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  position: absolute;
  background-color: var(--remazon-prime);
  border: .15rem solid var(--remazon-prime);
  border-radius: 50%;
  width: 6rem;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
.belt__plaque {
  background-color: var(--rp-dark-brown);
  position: absolute;
  height: 1.5rem;
  width: 110%;
}
.belt__strap {
  position: absolute;
  background-color: var(--rp-dark-brown);
  width: 100%;
  height: 1.5rem;
  border-top: .15rem solid var(--remazon-prime);
  border-bottom: .15rem solid var(--remazon-prime);
  z-index: 10;
}


@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}