:root {
  --background-color: #141414;
  --nav-background-color: #000000;
  --font-color: #ffffff;
  --remazon-prime: orange;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

img {
  border-style: none;
}

.main-screen {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  margin-left: 4rem;
  transition: margin-left 70ms ease-in-out;
}
.main-screen.active {
  margin-left: 11rem;
}