@font-face {
  font-family: "coolvetica";
  src: url("../assets/fonts/coolvetica/coolveticargit.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "coolvetica-straight";
  src: url("../assets/fonts/coolvetica/coolveticarg.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #141414;
  --nav-background-color: #000000;
  --font-color: #ffffff;
  --remazon-prime: #ffa500;
  --rp-brown: #443b2f;
  --rp-dark-brown: #221d16;
  --border-radius: 5px;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

img {
  border-style: none;
}

.title {
  color: var(--remazon-prime);
  font-size: 1.5rem;
  margin: 0;
  text-transform: capitalize;
}

.status-dot {
  aspect-ratio: 1/1;
  display: inline-block;
  background-color: #b40000;
  border-radius: 50%;
  margin: 0 .5rem;
  width: .7rem;
  position: absolute;
  right: 0;
}
.status-dot.active {
  background-color: #00b400;
}

.button {
  min-width: 2rem;
  display: block;
  border: .1rem solid var(--remazon-prime);
  background-color: var(--nav-background-color);
  color: var(--remazon-prime);
  font-size: 1.1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
}
.button.delete:hover {
  border-color: #ff0000;
  color: #ffffff;
}
.button.create:hover {
  border-color: rgb(9, 255, 0);
  color: #ffffff;
}

.card-button {
  aspect-ratio: 1/1;
}

input, textarea, select {
  display: block;
  background: var(--nav-button-active-bg);
  padding: 0.4em .5em;
  outline-style: none;
  box-shadow: none;
  border: .11rem solid var(--remazon-prime);
  border-radius: var(--border-radius);
  color: white;
}

option {
  color: black;
}

.main-screen {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: margin-left 70ms ease-in-out;
}

.center-display-space {
  width: 100%;
}

.form-wrapper {
  box-sizing: border-box;
  border: .15rem solid var(--remazon-prime);
  min-width: 100%;
  margin: auto;
  margin-top: 2rem;
  padding: .5rem .8rem 1rem;
  border-radius: var(--border-radius);
}

.checkbox {
  display: inline-block;
  width: fit-content !important;
}

.form-input-label {
  display: inline;
  font-size: 1.2rem;
}

@media (min-width: 375px){
  .main-screen {
    margin-top: 0;
    margin-left: 4rem;
  }
  .main-screen.active {
    margin-left: 12rem;
  }

  .form-wrapper {
    min-width: fit-content;
    max-width: 30%;
  }
}

@media (min-width: 768px){
}

@media (min-width: 1920px){
}

/*
2560×1440
1920×1080
1600×900
1536×864
1440×900
1366×768
1280×720
810×1080
414×896
412×915
390×844
375×812
360×800
*/