:root {
  --background-color: #141414;
  --nav-background-color: #000000;
  --font-color: #ffffff;
  --remazon-prime: #ffa500;
  --border-radius: 5px;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

img {
  border-style: none;
}

.title {
  color: var(--remazon-prime);
  font-size: 1.5rem;
}

.divider {
  background-color: var(--remazon-prime);
  margin: .2rem auto .6rem;
  width: 99%;
  height: .2rem;
}

.status-dot {
  aspect-ratio: 1/1;
  display: inline-block;
  background-color: #b40000;
  border-radius: 50%;
  margin: 0 .5rem;
  width: .7rem;
  position: absolute;
  right: 0;
}
.status-dot.active {
  background-color: #00b400;
}

.button {
  display: block;
  border: .1rem solid var(--remazon-prime);
  background: transparent;
  color: var(--remazon-prime);
  font-size: 1.1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
}

.main-screen {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  margin-left: 4rem;
  margin-right: 1rem;
  transition: margin-left 70ms ease-in-out;
}
.main-screen.active {
  margin-left: 11rem;
}